@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Recursive:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #7ae8ff 0%, #ccf6ff 100%);
    @apply rounded-md bg-gradient-to-b from-primary to-white dark:from-gray-600 dark:to-gray-500;
    outline: none;
  }
  body {
    transition: all 0.4s ease;
    font-family: "Poppins", sans-serif;
    @apply bg-light dark:bg-dark;
  }
  button {
    font-family: "Recursive", sans-serif;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  button {
    @apply text-darkGray dark:text-light;
  }
  .title {
    @apply text-3xl text-center text-green-400 my-5 mx-auto;
  }

  .tab {
    position: relative;
    background: rgb(249, 250, 251);
    @apply dark:bg-dark;
    border-top: 4px solid green;
    height: 40px;
    border-radius: 5px 5px 0 0;
  }
  .tab::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -33.5px;
    height: 36px;
    width: 35px;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    @apply dark:border-none;
    border-radius: 0 0 15px 0;
  }
  .tab::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -33.5px;
    height: 36px;
    width: 35px;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    @apply dark:border-none;
    border-radius: 0 0 0px 15px;
  }
  .text-shine {
    width: fit-content;
    font-weight: 600;
    padding: 12px 48px;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite linear;
    animation-fill-mode: forwards;
  }

  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 180px;
    }
  }
}

.video-chat-page {
  height: calc(100vh - 68px);
}
.search-donor-page {
  min-height: calc(100vh - 320px);
}
