@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Recursive:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #7ae8ff 0%, #ccf6ff 100%);
    @apply rounded-md bg-gradient-to-b from-primary to-white dark:from-gray-600 dark:to-gray-500;
    outline: none;
  }
  body {
    transition: all 0.4s ease;
    font-family: "Poppins", sans-serif;
    @apply bg-light dark:bg-dark;
  }
  p {
    @apply text-dark dark:text-light;
  }
  button {
    font-family: "Recursive", sans-serif;
  }
}
