{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:react/recommended",
    "next/core-web-vitals",
    "airbnb",
    "prettier",
    "airbnb/hooks"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unused-vars": ["warn"],
    "react/button-has-type": "off",
    "import/no-unresolved": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-unescaped-entities": 0,
    "@next/next/no-img-element": 0,
    "react/jsx-filename-extension": 0,
    "react-hooks/rules-of-hooks": 0,
    "react/jsx-props-no-spreading": 0,
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "linebreak-style": "off",
    "arrow-body-style": "off",
    "jsx-a11y/label-has-associated-control": 0,
    "no-console": "off",
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "warn",
    "no-underscore-dangle": "off",
    "no-param-reassign": "warn"
  }
}
