.tags_input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: auto;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}
.tags_input:focus-within {
  border: 1px solid #00cffc;
}
.tags_input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags_input input :focus {
  outline: transparent;
}
.tags_ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #00cffc;
}

.tag .tag_title {
  margin-top: 3px;
}
.tag .tag_close_icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #00cffc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
@media screen and (max-width: 567px) {
  .tags_input {
    width: calc(100vw - 32px);
  }
}
